{% extends "base.html" %}
{% block content %}
{% load static %}






    <section id="main-body" class="main-body">
        <section class="player-container d-flex justify-content-between">
            <section id="playlist" class="playlist">
                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angel</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>
                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angle</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>
                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angle</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>


                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angle</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>
                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angle</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>
                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angle</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>
                <div class="playlist-item p-2 my-2 d-flex justify-content-around">
                    <a href="#" id="playlist-item-link" class=" playlist-item-link text-capitalize"> send me an
                        angle</a>
                    <span class=""><button id="playlist-play" class="btn-play-list"><i
                            class="fa fa-play"></i></button>
                    <button id="playlist-remove" class="btn-play-list"><i class="fa fa-trash"></i></button></span>
                </div>



            </section>
            <section class="videoplayer">
                <section class="main-video">
                    <video controls>
                        <source src="assets/video/Test video.mp4">
                    </video>
                </section>
            </section>
        </section>
        <section class="looper">
            <span id="lopper-timer">00:00</span>
            <div class="middle">

                <div class="multi-range-slider">

                    <input type="range" id="input-left" min="0" max="100" value="25">
                    <input type="range" id="input-right" min="0" max="100" value="75">

                    <div class="slider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="d-flex justify-content-center">
            <button id="btn-looper-play" class="btn-looper-play "><i id="i-looper-play" class="fa fa-play "></i>
            </button>
            <button id="btn-looper-pause" class="btn-looper-pause d-none"><i id="i-looper-pause"
                                                                             class="fa fa-pause d-none"></i></button>
        </div>
    </section>





{% endblock %}
